@import url(http://fonts.googleapis.com/css?family=Slackey);

* {
    -webkit-user-select: none;
    user-select: none;
}

html, body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

body {
	position: static;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Slackey, sans-serif;
	font-size: 40px;
}

#controls {
	flex: initial;
	-webkit-flex: 0;
	background-color: #CCFFFF;
	padding: 0.125em;
	text-align: right;
}

#content {
	position: relative;
	flex: 1 1;
	-webkit-flex: 1 1;
	background-color: #FFFFCC;
}

#program {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

#keyboard {
	flex: initial;
	-webkit-flex: 0;
	background-color: #FFCCFF;
}

button {
	font-family: inherit;
	font-size: inherit;
}

#controls button {
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	font-size: 65%;
}

.cardgroup {
	table-layout: fixed;
	padding: 0.125em;
}

.card, #cursor {
    width: 1.5em;
    height:  1.5em;
	color: #111111;
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	margin: 0.125em;
    vertical-align: middle;
    text-align: center;
	overflow: none;
}

.card.numeric {
	background-color: #AAAAFF;
}

.card.action {
	background-color: #FFFFAA;
}

.card.input-only {
	background-color: #CCCCCC;
	color: black;
}	

#cursor {
	border-style: dotted;
	background-color: transparent;
	color: rgba(0,0,0,0.5);
}
