@font-face {
  font-family: 'Slackey';
  font-style: normal;
  font-weight: 400;
  src: url(slackey.woff) format('woff');
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (min-device-width : 1024px) {
	body {
		font-size: 40px;
	}
}

* {
	user-select: none;
	-webkit-touch-callout: none;
}

html, body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

body {
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Slackey, sans-serif;
}

#content {
	position: relative;
	flex: 1 1;
	background-color: #FFFFCC;
}

#program {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.125em;
	margin: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#header:after {
	bottom: 16px;
	box-shadow: 0px 8px 16px rgba(0,0,0,.3);
}

#stacks {
	flex: initial;
	background-color: #FFCCFF;
	padding: 0.125em;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: initial;
	background-color: #CCFFFF;
	padding: 0.125em;
	text-align: right;
	font-size: 65%;
}

#header #stats {
	flex: 1 1;
	text-align: left;
	margin-left: 0.125em;
}

#header #controls {
	flex: initial;
}

#controls button {
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	font-size: 65%;
	font-family: inherit;
}

.cardsequence, .cardrow, .cardgroup {
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-grow: 1;
	flex-shrink: 1;
}

.card-sequence, .cardrow {
	display: flex;
}

.cardgroup {
	display: inline-flex;
}

/* for debugging */
.cardrow {
	/* background-color: rgba(0,0,0, 0.1); */
}

.card, .cursor {
	display: inline-block;
	flex: initial;
    width: 1.5em;
    height:  1.5em;
	color: #111111;
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	margin: 0.125em;
    vertical-align: middle;
    text-align: center;
	overflow: none;
	font-family: inherit;
	font-size: inherit;
}

.running .cursor {
	display: none;
}

.card.control {
	background-color: #AAAAFF;
}

.card.action {
	background-color: #FFFFAA;
}

.card.dragging {
    display: block;
	position: fixed;
	z-index: 1;
	opacity: 0.9;
	transform: scale(1.1) rotate(-6deg);
	transform-origin: 50% 50%;
	pointer-events: none;
}

.card.dragging.disappearing {
	transform: rotate(-6deg) scale(1.5);
	opacity: 0;
	transition-property: opacity transform;
	transition-duration: 0.25s;
}

#program .card.active, .cardgroup.active>.card {
	animation-name: jiggle;
	animation-direction: normal;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

#stacks .card {
	cursor: move;
}

.cursor {
	border-style: dotted;
	background-color: transparent;
}

.cursor.required {
	animation-name: pulse;
	animation-direction: normal;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

.running .editcontrol {
	display: none;
}

.editing .runcontrol {
	display:none;
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
