/*
@import url(http://fonts.googleapis.com/css?family=Slackey);
*/

* {
    user-select: none;
}

html, body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

body {
	position: static;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Slackey, sans-serif;
	font-size: 40px;
}

#content {
	position: relative;
	flex: 1 1;
	background-color: #FFFFCC;
}

#program {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.125em;
	margin: 0;
	overflow-y: scroll;
}

#header:after {
	bottom: 16px;
	box-shadow: 0px 8px 16px rgba(0,0,0,.3);
}

#stacks {
	flex: initial;
	background-color: #FFCCFF;
	padding: 0.125em;
}

#header {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: initial;
	background-color: #CCFFFF;
	padding: 0.125em;
	text-align: right;
	font-size: 65%;
}

#header #stats {
	flex: 1 1;
	text-align: left;
	margin-left: 0.125em;
}

#header #controls {
	flex: initial;
}

#controls button {
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	font-size: 65%;
	font-family: inherit;
}

#program, .cardgroup {
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.cardgroup {
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 1;
	
	/* for debugging */
	background-color: rgba(0,0,0, 0.25);
}

.card, .cursor {
	display: inline-block;
	flex: initial;
    width: 1.5em;
    height:  1.5em;
	color: #111111;
	border-style: solid;
	border-color: #111111;
	border-radius: 0.25em;
	border-width: 0.08em;
	margin: 0.125em;
    vertical-align: middle;
    text-align: center;
	overflow: none;
	font-family: inherit;
	font-size: inherit;
}

.running #cursor {
	display: none;
}

.card.control {
	background-color: #AAAAFF;
}

.card.action {
	background-color: #FFFFAA;
}

.card.dragging {
    display: block;
	position: fixed;
	z-index: 1;
	opacity: 0.66;
	transform: rotate(-6deg);
	transform-origin: 50% 50%;
	pointer-events: none;
}

#program .card.active {
	animation-name: jiggle;
	animation-direction: normal;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

#stacks .card {
	cursor: move;
}

.cursor {
	border-style: dotted;
	background-color: transparent;
}

.running .editcontrol {
	display: none;
}

.editing .runcontrol {
	display:none;
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
