@font-face {
  font-family: 'Gameplay';
  font-style: normal;
  font-weight: 400;
  src: url(Comfortaa-Bold.ttf) format('truetype');
}

/* iPhone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		font-size: 16px;
	}
}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	body {
		font-size: 32px;
	}
}

/* Laptop */
@media only screen and (min-device-width : 1024px) {
	body {
		font-size: 40px;
	}
}

* {
	user-select: none;
	-webkit-touch-callout: none;
}

html, body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

body {
	position: static;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Gameplay, sans-serif;
}

.starting #startview {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: 50%;
	margin: 2em;
}

.playing #startview {
	display: none;
}

#startview h1 {
	font-size: 200%;
	margin-bottom: 1em;
}

#startview h2 {
	font-size: 125%;
	margin-bottom: 1em;
}

#startview #game-config {
	margin-top: 2em;
}

#startview #start-buttons {
	margin-top: 2em;
}

#startview ul {
	list-style-type: none;
}

#startview li {
	margin-bottom: 0.25em;
}

#startview ul input {
	width: 1.75em;
	height: 1.75em;
}

#startview button {
	font-size: 150%;
}

.starting #gameview {
	display: none;
}

.playing #gameview {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Gameplay, sans-serif;
}

#content {
	position: relative;
	flex: 1 1;
	background-color: #FEFEFF;
	-webkit-overflow-scrolling: touch;
}

#program {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.125em;
	margin: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: initial;
	background-color: #101010;
	color: #FEFEFE;
	padding: 0.125em;
	text-align: right;
	font-size: 65%;
}

#header .stats {
	flex: 1 1;
	text-align: left;
	margin-left: 0.125em;
}

#header #controls {
	flex: initial;
}

button {
	border-radius: 0.25em;
	border-width: 0.1em;
	font-size: 65%;
	font-family: inherit;
	min-width: 4.5em;
	min-height: 2em;
	background-color: #CCCCCC;
	color: black;
}

#playercontrols {
	position: relative;
	background-color: #666666;
	color: #FEFEFE;
}

#stacks {
	padding: 0.125em;
}	

#runpanel {
	font-size: 65%;
}

#runpanel>div {
	margin: 0.5em;
	text-align: center;
}

#runpanel button[disabled] {
	display: hidden;
}

.running #playercontrols .editcontrol {
	display: none;
}

.editing #playercontrols .runcontrol {
	display: none;
}

.cardsequence, .cardrow, .cardgroup {
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-grow: 1;
	flex-shrink: 1;
}

.card-sequence, .cardrow {
	display: flex;
}

.cardgroup {
	display: inline-flex;
}

/* for debugging */
.cardrow {
	/* background-color: rgba(0,0,0, 0.1); */
}

.stackrow {
	display: flex;
	flex: initial;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.card, .cursor {
	display: inline-flex;
	position: relative;
	flex: initial;
    width: 1.5em;
    height:  1.5em;
	color: #111111;
	border-radius: 0.25em;
	margin: 0.125em;
    text-align: center;
	overflow: none;
	font-family: inherit;
	font-size: inherit;
	cursor: default;
	
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.card img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0.1em;
	border: 0px;
	flex-shrink: 1;
	flex-grow: 1;
	pointer-events: none;
}

.card {
	box-shadow: 1px 1px 6px rgba(0,0,0,0.8);
}

#stacks .card {
	border-bottom-width: 0.1em;
	border-style: solid;
}

.card.control {
	background-color: #AAAAFF;
	border-color: #6666CC;
}

.card.action {
	background-color: #FFFFAA;
	border-color: #CCCC66;
}

.card.dragging {
    display: flex;
	position: fixed;
	z-index: 1;
	opacity: 0.9;
	transform: scale(1.1) rotate(-6deg);
	transform-origin: 50% 50%;
	pointer-events: none;
}

.card.dragging.disappearing {
	transform: rotate(-6deg) scale(1.5);
	opacity: 0;
	transition-property: opacity transform;
	transition-duration: 0.25s;
}

#program .card.action.active, #program .annotation {
	animation-name: jiggle;
	animation-direction: normal;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

.cursor {
	border-style: dotted;
	border-color: rgba(0,0,0,0.4);
	border-width: 0.08em;
	background-color: transparent;
}

.cursor.required {
	animation-name: pulse;
	animation-direction: normal;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
}

.running .cursor {
	display: none;
}

.running .editcontrol {
	display: none;
}

.editing .runcontrol {
	display:none;
}

.annotation {
    background: red;
	color: white;
	font-size: 60%;
    width: 1em;
    height: 1em;
    position: absolute;
	top: -0.25em;
	right: -0.25em;
    text-align: center;
	z-index: 0;
}

.annotation:before, .annotation:after {
    background: red;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
	z-index: -1;
}

.annotation:before {
    transform: rotate(30deg);
}
.annotation:after {
    transform: rotate(60deg);
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
